/*#region Flex */
[class^=flex] {
  display : flex;
}

.flex-row {
  flex-direction : row;
}
.flex-col {
  flex-direction : column;
}

.flex-row.reverse {
  flex-direction : row-reverse;
}

.flex-col.reverse {
  flex-direction : column-reverse;
}
/*#endregion*/

/*#region Alignment */

.flex-col.align-top {
  justify-content : flex-start;
}

.flex-row.align-left {
  justify-content : flex-start;
}

.flex-row.align-center {
  align-items : center;
}

.flex-col.align-center {
  justify-content : center;
}

.flex-col.align-left {
  align-items : flex-start;
}
/*#endregion*/

/*#region Spacing */
.space-h-auto > * + * {
  margin-top : auto;
}

.space-h-none > * + * {
  margin-top : 0;
}

.space-h-tiny > * + * {
  margin-top : var(--size-tiny);
}

.space-h-small > * + * {
  margin-top : var(--size-small);
}

.space-h-medium > * + * {
  margin-top : var(--size-medium);
}

.space-h-large > * + * {
  margin-top : var(--size-large);
}

.space-v-auto > * + * {
  margin-left : auto;
}

.space-v-none > * + * {
  margin-left : 0;
}

.space-v-tiny > * + * {
  margin-left : var(--size-tiny);
}

.space-v-small > * + * {
  margin-left : var(--size-small);
}

.space-v-medium > * + * {
  margin-left : var(--size-medium);
}

.space-v-large > * + * {
  margin-left : var(--size-large);
}
/*#endregion*/

/*#region Gap */
.gap-none {
  gap : 0;
}

.gap-tiny {
  gap : var(--size-tiny);
}

.gap-small {
  gap : var(--size-small);
}

.gap-medium {
  gap : var(--size-medium);
}

.gap-large {
  gap : var(--size-large);
}

.gap-x-none {
  column-gap : 0;
}

.gap-x-tiny {
  column-gap : var(--size-tiny);
}

.gap-x-small {
  column-gap : var(--size-small);
}

.gap-x-medium {
  column-gap : var(--size-medium);
}

.gap-x-large {
  column-gap : var(--size-large);
}

.gap-y-none {
  row-gap : 0;
}

.gap-y-tiny {
  row-gap : var(--size-tiny);
}

.gap-y-small {
  row-gap : var(--size-small);
}

.gap-y-medium {
  row-gap : var(--size-medium);
}

.gap-y-large {
  row-gap : var(--size-large);
}
/*#endregion*/

/*#region Margin */
.m-auto {
  margin : auto;
}

.m-none {
  margin : 0;
}

.m-tiny {
  margin : var(--size-tiny);
}

.m-small {
  margin : var(--size-small);
}

.m-medium {
  margin : var(--size-medium);
}

.m-large {
  margin : var(--size-large);
}

.mx-auto {
  margin-left  : auto;
  margin-right : auto;
}

.mx-none {
  margin-left  : 0;
  margin-right : 0;
}

.mx-tiny {
  margin-left  : var(--size-tiny);
  margin-right : var(--size-tiny);
}

.mx-small {
  margin-left  : var(--size-small);
  margin-right : var(--size-small);
}

.mx-medium {
  margin-left  : var(--size-medium);
  margin-right : var(--size-medium);
}

.mx-large {
  margin-left  : var(--size-large);
  margin-right : var(--size-large);
}

.my-auto {
  margin-top    : auto;
  margin-bottom : auto;
}

.my-none {
  margin-top    : 0;
  margin-bottom : 0;
}

.my-tiny {
  margin-top    : var(--size-tiny);
  margin-bottom : var(--size-tiny);
}

.my-small {
  margin-top    : var(--size-small);
  margin-bottom : var(--size-small);
}

.my-medium {
  margin-top    : var(--size-medium);
  margin-bottom : var(--size-medium);
}

.my-large {
  margin-top    : var(--size-large);
  margin-bottom : var(--size-large);
}

.mt-auto {
  margin-top : auto;
}

.mt-none {
  margin-top : 0;
}

.mt-tiny {
  margin-top : var(--size-tiny);
}

.mt-small {
  margin-top : var(--size-small);
}

.mt-medium {
  margin-top : var(--size-medium);
}

.mt-large {
  margin-top : var(--size-large);
}

.mr-auto {
  margin-right : auto;
}

.mr-none {
  margin-right : 0;
}

.mr-tiny {
  margin-right : var(--size-tiny);
}

.mr-small {
  margin-right : var(--size-small);
}

.mr-medium {
  margin-right : var(--size-medium);
}

.mr-large {
  margin-right : var(--size-large);
}

.mb-auto {
  margin-bottom : auto;
}

.mb-none {
  margin-bottom : 0;
}

.mb-tiny {
  margin-bottom : var(--size-tiny);
}

.mb-small {
  margin-bottom : var(--size-small);
}

.mb-medium {
  margin-bottom : var(--size-medium);
}

.mb-large {
  margin-bottom : var(--size-large);
}

.ml-auto {
  margin-left : auto;
}

.ml-none {
  margin-left : 0;
}

.ml-tiny {
  margin-left : var(--size-tiny);
}

.ml-small {
  margin-left : var(--size-small);
}

.ml-medium {
  margin-left : var(--size-medium);
}

.ml-large {
  margin-left : var(--size-large);
}
/*#endregion*/

/*#region Padding */
.p-none {
  padding : 0;
}

.p-tiny {
  padding : var(--size-tiny);
}

.p-small {
  padding : var(--size-small);
}

.p-medium {
  padding : var(--size-medium);
}

.p-large {
  padding : var(--size-large);
}

.px-none {
  padding-left  : 0;
  padding-right : 0;
}

.px-tiny {
  padding-left  : var(--size-tiny);
  padding-right : var(--size-tiny);
}

.px-small {
  padding-left  : var(--size-small);
  padding-right : var(--size-small);
}

.px-medium {
  padding-left  : var(--size-medium);
  padding-right : var(--size-medium);
}

.px-large {
  padding-left  : var(--size-large);
  padding-right : var(--size-large);
}

.py-none {
  padding-top    : 0;
  padding-bottom : 0;
}

.py-tiny {
  padding-top    : var(--size-tiny);
  padding-bottom : var(--size-tiny);
}

.py-small {
  padding-top    : var(--size-small);
  padding-bottom : var(--size-small);
}

.py-medium {
  padding-top    : var(--size-medium);
  padding-bottom : var(--size-medium);
}

.py-large {
  padding-top    : var(--size-large);
  padding-bottom : var(--size-large);
}

.pt-none {
  padding-top : 0;
}

.pt-tiny {
  padding-top : var(--size-tiny);
}

.pt-small {
  padding-top : var(--size-small);
}

.pt-medium {
  padding-top : var(--size-medium);
}

.pt-large {
  padding-top : var(--size-large);
}

.pr-none {
  padding-right : 0;
}

.pr-tiny {
  padding-right : var(--size-tiny);
}

.pr-small {
  padding-right : var(--size-small);
}

.pr-medium {
  padding-right : var(--size-medium);
}

.pr-large {
  padding-right : var(--size-large);
}

.pb-none {
  padding-bottom : 0;
}

.pb-tiny {
  padding-bottom : var(--size-tiny);
}

.pb-small {
  padding-bottom : var(--size-small);
}

.pb-medium {
  padding-bottom : var(--size-medium);
}

.pb-large {
  padding-bottom : var(--size-large);
}

.pl-none {
  padding-left : 0;
}

.pl-tiny {
  padding-left : var(--size-tiny);
}

.pl-small {
  padding-left : var(--size-small);
}

.pl-medium {
  padding-left : var(--size-medium);
}

.pl-large {
  padding-left : var(--size-large);
}
/*#endregion*/